<carousel>
    <section class="carousel">
        <div class="swiper-container" data-aos="zoom-out-left">
            <div class="swiper-wrapper">
                {{#each profData as |prof|}}
                    <div class="swiper-slide">
                        <div class="prof-card">
                            <img src={{prof.avatar_url}} alt="">
                            <br />
                            <span>{{prof.name}}</span>
                            <p>{{prof.department}}</p>
                            <div class="card-content">
                                <i class="far fa-newspaper"></i> {{prof.countPublications}} Publications
                                <br />
                                <i class="fas fa-link"></i> {{prof.countCitations}} Citations
                                <br />
                                <a href='/profiles/{{prof._id}}'><button type="button" class="btn btn-outline-info" >View Profile</button></a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
</carousel>



