<paperDisplay>
    <div class="container search-result-display article-list">
        {{#each papers as |paper|}}
        <div class="paper-card">
            <div class="title">
                <a href={{paper.publicationLink}} target="_blank">{{paper.title}}</a>
            </div>
            <div class="other-info">
                <div class="authors">
                    <p>Authors: </p>
                    {{#each paper.authors as |author|}}
                        <p>{{author}}</p>
                    {{/each}}
                </div>
                <div class="year">
                    <p>{{paper.year}}</p>
                </div>
            </div>
            <div class="tags">
                {{#each paper.keywords as |tag|}}
                    <a class="tag" href="/publications/search?query={{tag}}">{{tag}}</a>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

    <span id="pagination-wrapper" class="pagination-buttons">
        {{#ifCond currentPage '!==' 1 }}
            <a class="pag-link left-button" href="/publications/search?page={{prev}}&limit=20"><i class="fas fa-chevron-left"></i></a>
        {{/ifCond}}
        {{#forPag currentPage pagesAfter }}
            {{this}}
        {{/forPag}}
        {{#ifCond currentPage '!==' 137 }}
        <a class="pag-link right-button" href="/publications/search?page={{next}}&limit=20"><i class="fas fa-chevron-right"></i></a>
        {{/ifCond}}
    </span>
</paperDisplay>