<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- CSS Files --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"/>

    <link rel="stylesheet" href="../css/profile.css" type="text/css"/>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>
    {{> header}}
    
    <section id="prof-content">
        <div class="row">
            <div class="prof-info col-lg-8">
                <div class="prof-header">
                    <div class="prof-header-img">
                        <img src="{{profData.avatar_url}}" alt="">
                    </div>
                    <div class="prof-header-content">
                        <p>{{profData.name}}</p>
                        <span>{{profData.status}}</span> <br>
                        <span>Department of {{profData.department}}</span> <br> <br>
                        <i class="far fa-newspaper"></i>
                        <span class="count">{{profData.countPublications}} Publications</span> <br>
                        <i class="fas fa-link"></i>
                        <span class="count">{{profData.countCitations}} Citations</span>
                    </div>
                    <div class="prof-header-ids">
                        <span><em>Other profiles</em></span> 
                        {{#if profData.scholar_id}}
                        <div class="prof-id"><i class="fab fa-google"></i><a href="https://scholar.google.co.in/citations?user={{profData.scholar_id}}" target="_blank"> Google Scholar</a></div>
                        {{/if}}                        
                        {{#if profData.orcid_id}}
                        <div class="prof-id"><i class="fab fa-orcid"></i><a href="https://orcid.org/{{profData.orcid_id}}" target="_blank"> Orcid</a></div>
                        {{/if}}  
                        {{#if profData.microsoft_id}}
                        <div class="prof-id"><i class="fab fa-microsoft"></i><a href="https://academic.microsoft.com/author/{{profData.microsoft_id}}" target="_blank"> Microsoft Academic</a></div>
                        {{/if}}  
                        {{#if profData.scopus_id}}
                        <div class="prof-id"><i class="fab fa-stripe-s"></i><a href="https://www.scopus.com/authid/detail.uri?authorId={{profData.scopus_id}}" target="_blank"> Scopus</a></div>
                        {{/if}}  
                    </div>
                </div>
                <div class="prof-articles">
                    <div class="article-header">
                        <span>Articles</span>
                    </div>

                    <div class="article-list">
                        {{#each articles as |article|}}
                        <div class="article">
                            <div class="article-title">
                                <div class="article-link">
                                    <a href="{{article.publicationLink}}" target="_blank">{{article.title}}</a> <br>
                                    <div class="article-info">
                                    {{#each article.authors as |author|}}
                                        {{author}}, 
                                    {{/each}}
                                    </div>
                                    <div class="article-info">
                                    {{article.source}}
                                    </div>
                                    <hr>   
                                    <button type="button" class="btn btn-secondary btn-sm">View Abstract</button>
                                    <button type="button" class="btn btn-secondary btn-sm">View Summary</button>                                
                                </div>
                                <div class="article-citations">
                                    <i class="fas fa-link"></i>
                                    <span class="count"> {{article.citations}}</span> <br>
                                    <i class="far fa-calendar-alt"></i>
                                    <span class="count"> {{article.year}}</span>
                                </div>
                            </div>                            
                        </div>
                        {{/each}}
                    </div>
                </div>                
            </div>

            <div class="prof-stats col-lg-4">
                <div class="publicationsGraph">
                    {{> publicationGraph}}
                </div> 
                <div class="citationsGraph">
                    {{> citationsGraph}}
                </div>    
                <div class="sourceGraph">
                    {{> sourceGraph}}
                </div> 
                <div id="coauthors">
                    <span>Top Co-Authors</span>
                </div>            
            </div>
        </div>
    </section>

    <script>
        var x = {{{json articles}}}
        console.log(x[0])
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>